/* Focuses on Header */
#header{
    background-color: #839788;
    padding: 10px;
}

#homelink{
    position: absolute;
    right: 20px;
    top: 30px;
}

/* --removes white bar on top of page */
#header h1{
    margin-top: 0;
}

/* Focuses on the Body */
body{
    font-family: 'Roboto', sans-serif;
    margin: 0px;
    padding: 0px;
}

/* Focuses on the Footer */
footer{
    position: fixed;
    background-color: #839788;
    width: 100%;
    padding: 10px;
    padding-bottom: 30px;
    bottom: 0;
    left: 0;
}

/* --The Social Media Icons */
#socials{
    display: flex;
    justify-content: center;
    width: 100%;
    vertical-align: top;
    padding-bottom: 10px;
}

#github, #linkedin, #home{
    height: 50px;
    width: 50px;
}

#gitlink, #linkedlink #homelink{
    max-width: 50px;
    max-height: 50px;
    margin: 10px;
}

#github:hover, #linkedin:hover{
    box-shadow: 0 0 5px 2px #8d6b94;
}


/* --The Links */
.links{
    display: flex;
    justify-content:center;
    width: 100%;
    padding: 2px;
}

a:link{
    color:black;
    text-decoration: none;
}

a:visited{
    color:black;
}

a:hover{
    color:#8d6b94;
}

a:active{
    color:white;
}
