/* Focuses on Header */
#header{
    display: grid;
    grid-template-columns: auto auto;
    background-color: #457b9d;
    padding: 10px;
}

#name {
    margin: auto;
}
#name h1{
    font-family: 'Roboto Slab', 'Roboto', serif;
    font-size: 20pt;
    padding-left: 5px;
    padding-right: 5px;
    color: white;
    border-bottom: solid 3px #8BCA16;
}

.headerLink, .linkMenu{
    display:inline;
    line-height: 100px;
    text-align: center;
}
.headerLink a,  .linkMenu a{
    padding: 0px 5px 0px 5px;
    margin: 0px 15px 0px 15px;
    font-size: 14pt;
    text-decoration: none;
    color: white;
}
.headerLink a:hover{
    border-bottom: solid 3px #8BCA16;
}
.headerLink a:active,  .linkMenu a:active{
    border-bottom: solid 3px #1d3557;
}

/* Focuses on the Footer */
footer{
    background-color: #457b9d;
    padding: 30px;
    text-align: center;
}

/* --The Social Media Icons */
#github, #linkedin{
    height: 50px;
    width: 50px;
}

#gitlink, #linkedlink{
    margin: 20px;
    text-decoration: none;
}

#github:hover, #linkedin:hover{
    box-shadow: 0 0 1px 1px rgba(255, 255, 255, 0.5);
}

/* --The Links */
#sourcelink, #doclink{
    padding: 10px 0 10px 0;
}

.links {
    list-style-type: none;
    padding: 0px;
    font-size: 12pt;
}
.links a:link{
    color:white;
    text-decoration: none;
}
.links a:visited{
    color:white;
}
.links a:hover{
    color: #a8dadc;
}
.links a:active{
    color: #457b9d;
}

/*Helps get rid of whitespace after footer TAKEN from StackOverflow, check sources page*/
html,body,header { height:100%;}
.content{
    min-height: calc(100% - 285px);
}

/* Focuses on the Body */
body{
    font-family: 'Roboto', sans-serif;
    margin: 0;
    overflow-x: hidden;
}

/* Focuses on the Content */
#cardsShowContainer{
    padding: 50px 20px 50px 20px;
}

#cardSection{
    display: block;
    animation: cardIn 2s normal;
}
@keyframes cardIn {
    from {opacity: 0%;}
    to {opacity: 100%;}
}

hr{
    border-top: 3px solid #8BCA16;
    width: 60vw;
}

/* Focuses on the Profile Intro */
#meSection{
    padding: 20px 0 50px 0;
}

#intro{
    display: grid;
    grid-template-columns: 25% 75%;
    padding: 0 25px 0 50px;
    width: 65%;
    margin-right: auto;
    margin-left: auto;
}

#profile{
    text-align: center;
    line-height: 100px;
    vertical-align:middle
}

#introText{
    padding-left: 20px;
    padding-right: 20px;
    margin-top: auto;
    margin-bottom: auto;
    vertical-align: middle;
}

#aboutHeader{
    font-family: 'Roboto Slab', 'Roboto', serif;
    text-align: center;
    font-size: 16pt;
    text-shadow: -2px 1px #A8DADC;
}
#aboutText{
    font-size: 12pt;
    border-left: solid 5px #8BCA16;
    padding: 10px;
}

#proPic{
    width: 15vw;
    height: auto;
    border-radius: 50%;
    margin-top: auto;
    margin-bottom: auto;
    vertical-align: middle;
}

/* Focuses on the Cards in Index*/
.cardContainer{
    width: 100%;
    min-width:50vw;
    height: 60vh;
    min-height: 65vh;
    max-height: 70vh;
    animation: swipeIn 1s normal;
}
@keyframes swipeIn {
    0% {opacity: 35%; left: 0px; top:50px;}
    100% {opacity: 100%; left: 0px; top:0px;}
}

.cardInfo{
    padding: 10px;
    /* margin-left: auto; */
    margin: auto;
    position: relative;
    bottom: 230%;
}
.cardInfo h2 {
    text-shadow: -2px 1px #A8DADC;
}

.infoTitle{
    font-family: 'Roboto Slab', 'Roboto', serif;
    font-size: 18pt;
    text-align: center;
    color: black;
}

.cardPic{
    position: relative;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    height: 50vh;
    width: 60vw;
    max-width: 100%;
    max-height: 100%;
    box-shadow: 0 0 1px rgba(0,0,0,.60);
    opacity: 0.3;
    filter: grayscale(100%);
}

.indexThumbnail{
    width: 100%;
    height: 100%;
}

h2{
    margin: 0px;
    font-size: 12pt;
}

.cardDesc{
    font-size: 10pt;
}

.viewButton, .docButton{
    background-color: #457B9D;
    border:solid 1px black;
    color: white;
    padding: 10px 20px;
    margin: 10px;
    max-height: 50px;
    width: 15vw;
    height: 10vh; 
    min-width: 100px;
    text-align: center;
    text-decoration: none;
    font-size: 20px;
    transition-duration: 0.2s;
    cursor: pointer;
}
.viewButton:hover, .docButton:hover, #viewBtn:hover{
    background-color: #A8DADC;
    color: white;
    border: solid 2px #8BCA16;
}

.buttonDiv{
    margin: 5px;
}

#imageSelect{
    text-align: center;
    margin-top: -75px;
}
.thumbSelect{
    width: 20%;
    height: auto;
    box-shadow: 0 0 5px rgba(0,0,0,.60);
    transition: 0.5s;
    z-index: 1;
}
.thumbSelect:hover{
    width: 23%;
    transition: 0.5s;
}


#arrowButtons{
    display: none;
}

/* Focuses on the Blog page */
#blogContainer{
    width: 50vw;
    padding: 50px 0px;
    margin-left: auto;
    margin-right: auto;
}

.updateHead{
    font-style: italic;
    color: black;
    margin: 5px;
    text-align: center;
}

.updateLine{
    width: 35%;
    border-top: 3px solid #A8DADC;
    margin: 0 auto 15px auto;
}

.update{
    margin: 0px;
    padding-left: 15px;
    padding-right: 15px;
    font-style: italic;
}

/* Focuses on the Project Documentation */
#topSection{
    display: grid;
    grid-template-columns: auto auto;
}

.projLabel{
    width: auto;
    position: relative;
    font-family: 'Roboto Slab', 'Roboto', serif;
    color: black;
    padding: 20px;
    margin-left: 10px;
    font-size: 18pt;
    border-left: solid 4px #8BCA16;
    margin-bottom: 20px;
    text-shadow: -2px 1px #A8DADC;
    animation: sideIn 1s normal;
}
@keyframes sideIn {
    0% {opacity: 0%; left: 50px; top: 0px}
    100%{opacity: 100%; left: 0px; top: 0px;}
}

/* Dropdown from W3Schools */
.dropbtn, #viewBtn{
    display: block;
    background-color: #457B9D;
    color: white;
    padding: 20px;
    font-size: 16px;
    font-family: 'Roboto', serif;
    border: none;
    cursor: pointer;
    animation: sideIn 2s normal;
}
  
.dropbtn:hover{
    background-color: #1d3557;
}
  
.dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 250px;
    max-width: 500px;
    /* max-width: 200px; */
    /* max-height: 150px; */
    max-height: 200px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    transition: 1s;
    margin-left: 10px;
}
  
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
  
  .dropdown a:hover {background-color: #ddd;}
  
  .show {display: block;}
/* End of Dropdown from W3Schools*/
/* Dropdown continue */
#projList{
    margin-left:10px;
}

#viewBtn{
    margin: 10px 0 0 10px;
}

/* Temp fix will need to be looked at later */
#projectContainer{
    width: 80%;
    margin-right: auto;
    margin-left: auto;
    margin-top: 50px
}
/* End of Fix */

.projSelect{
    padding: 10px;
    cursor: pointer;
}
.projSelect:hover{
    background-color: #A8DADC;
    color: white;
}

#projFix{
    margin: 20px;
}

#projSection {
    display: grid;
    grid-template-columns: auto auto;
}

.thumbnail {
    position: relative;
    text-align: center;
    max-height: 300px;
    animation: swipeIn 1s normal;
}

#projPic {
    width: 80%;
    height: auto;
    max-height: 300px;
    display: inline !important;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.projDesc{
    margin: 10px;
    padding: 30px 20px 30px 20px;
    font-size: 11pt;
}

/* Focuses on the Pixel Art Gallery and indivudal items */
#pixelGallery{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 50px;
}
#pixelGallery img{
    max-width: 300px;
    max-height: 300px;
    margin: 20px;
}

/* Focuses on Sources Page */
#welSource{
    padding: 25px;
}

#sources{
    padding: 25px;
}

/* Focuses on Game HTML */
#gameTabs{
    min-height: calc(100% - 280px);
    margin: 0 20px 20px 20px;
}

.tabs{
    display: block;
    position: relative;
}

#tabDiv{
    margin: 25px;
}

#tabSelector{
    display: grid;
    grid-template-columns: auto auto auto auto;
}

.tabButtons{
    border: none;
    text-decoration: none;
    background-color: white;
    border-bottom: 4px solid;
    cursor: pointer;
    font-family: Verdana, Tahoma, sans-serif;
    font-size: 14pt;
}

/* GameTab */
#gameContent{
    display: grid;
    grid-template-columns: auto;
    margin-left: 25px;
    margin-right: 25px;
}

#gameFeedback{
    display: grid;
    grid-template-columns: auto;
    border: solid 2px black;
    margin: 10px;
}

#gameTextDiv{
    margin: auto;
    font-family: 'Playfair Display', serif;
    font-size: 20pt;
    text-align: center;
}

#gameText{
    margin: 20px;
}

#gameControls{
    display: grid;
    grid-template-columns: auto;
}

#guessSection{
    margin:10px;
}

#startButtonDiv, #guessSection, #guessButtonDiv{
    margin-left: auto;
    margin-right: auto;
}

#startButton, #guessButton{
    border:solid 1px black;
    color: white;
    padding: 5px 10px;
    max-height: 50px;
    width: 100%;
    height: 100%; 
    text-align: center;
    font-size: 15px;
    cursor: pointer;
}

#startButton{
    background-color: red;
    border-radius: 8px;
}

#guessButton{
    background-color: green;
    border-radius: 8px;
}

#overlay{
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 2;
    cursor: pointer;
    background-color: rgba(0,0,0, 0.8);
}

#festive{
    width: 100%;
    height: 100%;
}

#winText{
    color: rgb(255,255, 255);
    font-size: 18pt;
    text-align: center;
    text-shadow: 1px 1px black;
    padding: 15px;
    position: absolute;
    top: 40%;
    left: 40%;
    animation: pulse 1s infinite;
    animation-direction: alternate;
}
@keyframes pulse {
    from {opacity: 50%;}
    to {opacity: 100%; }
}

/* Store Tab */
#storeItems{
    text-align: center;
}

#unlocked, #storeColors{
    padding: 10px;
}

.colorButton, .boughtColor{
    cursor: pointer;
    padding: 5px;
    margin: 5px;
    border-radius: 4px;
}

/* Stats Tab */

#statList{
    list-style: none;
    padding: 0;
    text-align: center;
}

#statList, li {
    margin: 5px;
}

/* Achievements Tab */
#achievements{
    display: grid;
    grid-template-columns: auto auto auto auto;
    text-align: center;
}

.achItem{
    margin-bottom: 10px;
}

.achBadge{
    width: 100px;
    height: 100px;
}

.achievementName{
    margin: 5px;
    font-size: 18pt;
}


/* Adjusts for smaller windows and phone screens */
@media screen and (max-width: 1000px)
{
    /* Prevents swiping to side on phone */
    html {
        overflow-x: scroll;
        overflow-x: hidden;
        touch-action: none; 
        -ms-overflow-style: none;
        -ms-scroll-chaining: none; 
    }

    /* Focuses on the Header */
    header h1{
        font-size: 18px;
        padding-bottom: 5px;
    }
    
    #header{
        grid-template-columns: auto;
        grid-template-areas:
        'title'
        'links';
        padding: 10px;
    }
    #name{
        grid-area: title;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
    }
    .headerLink{
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        font-size: 14pt;
    }

    /* Focuses on the Profile Intro */   
    #intro{
        display: flex;
        flex-direction: column;
        padding-right: 10vw;
        padding-left: 10vw;
    }

    .empty{
        padding: 0px;
    }

    #profile{
        text-align: center;
    }

    #proPic{
        max-width: 50%;
        height: auto;
        border-radius: 50%;
        margin-left: auto;
        margin-right: auto;
        grid-column-start: 1;
        grid-column-start: 2;
    }

    #aboutText{
        border-top: solid 5px #8BCA16;
        border-left: solid 0;
    }

    /* Focuses Project documentation */
    #projectContainer{
        margin-top: 10px;
    }

    #projSection, #topSection {
        grid-template-columns: auto;
    }

    #topSection{
        text-align: center;
    }

    .projLabel{
        border-left: none;
        border-bottom: solid 4px #8BCA16;
        max-width: 150px;
        margin-right: auto;
        margin-left: auto;
    }

    #projFix{
        margin-left: auto;
        margin-right: auto;
    }
    #viewBtn,#projList{
        display: inline;
        margin-top: 5px;
    }

    .dropdown-content {
        margin-right: auto;
        margin-left: auto;
        position: relative;
    }

    /* Focuses on Game page */
    #tabDiv{
        margin: 10px;
    }

    .tabButtons{
        font-size: 10pt;
    }

    #gameText{
        font-size: 18pt;
    }

    #guessSection{
        text-align: center;
    }

    #winText{
        padding: 5px;
        position: absolute;
        font-size: 14pt;
        top: 40%;
        left: 30%;
        width: 20%;
        height: 25%;
    }

    /* Achievement Tab */
    #achievements{
        grid-template-columns: auto auto;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
    }
    
    .achItem{
        width: 100%;
        height: 100%;
        margin-bottom: 10px;
        margin-top: 10px;
    }
}