/* Focuses on Header */
#header{
    display: grid;
    grid-template-columns: auto auto;
    background-color: #457b9d;
    padding: 10px;
}

#name {
    margin: auto;
}
#name h1{
    font-family: 'Roboto Slab', 'Roboto', serif;
    font-size: 20pt;
    padding-left: 5px;
    padding-right: 5px;
    color: white;
    border-bottom: solid 3px #8BCA16;
}

#headerLink{
    display:inline;
    line-height: 100px;
    vertical-align: middle;
}
#headerLink a{
    padding: 0px 5px 0px 5px;
    margin: 0px 15px 0px 15px;
    font-size: 14pt;
    text-decoration: none;
    color: white;
}
#headerLink a:hover{
    border-bottom: solid 3px #8BCA16;
}
#headerLink a:active{
    border-bottom: solid 3px #1d3557;
}

/* Focuses on the Footer */
footer{
    background-color: #457b9d;
    padding: 30px;
    text-align: center;
}

/* --The Social Media Icons */
#github, #linkedin{
    height: 50px;
    width: 50px;
}

#gitlink, #linkedlink{
    margin: 20px;
    text-decoration: none;
}

#github:hover, #linkedin:hover{
    box-shadow: 0 0 1px 1px rgba(255, 255, 255, 0.5);
}

/* --The Links */
#sourcelink, #doclink{
    padding: 10px 0 10px 0;
}

.links {
    list-style-type: none;
    padding: 0px;
    font-size: 12pt;
}
.links a:link{
    color:white;
    text-decoration: none;
}
.links a:visited{
    color:white;
}
.links a:hover{
    color: #a8dadc;
}
.links a:active{
    color: #457b9d;
}

/*Helps get rid of whitespace after footer TAKEN from StackOverflow, check sources page*/
html,body,header { height:100%;}
#content{
    min-height: calc(100% - 285px);
    margin: 50px 20px 50px 20px;
}

/* Focuses on the Body */
body{
    font-family: 'Roboto', sans-serif;
    margin: 0;
    overflow-x: hidden;
}

/* Focuses on the Content */
.cardSection{
    padding: 20px;
    display: block;
    animation: cardIn 2s normal;
}
@keyframes cardIn {
    from {opacity: 0%;}
    to {opacity: 100%;}
}

hr{
    border-top: 3px solid #8BCA16;
    width: 90vw;
}

/* Focuses on the Profile Intro */
#meSection{
    margin: 50px 20px 50px 20px;
    padding: 20px;
}

#intro{
    display: grid;
    grid-template-columns: 25% 75%;
    padding: 25px 25px 0 25px;
}

#profile{
    text-align: center;
    line-height: 100px;
    vertical-align:middle
}

#introText{
    padding-left: 20px;
    padding-right: 20px;
}

#aboutHeader{
    font-family: 'Roboto Slab', 'Roboto', serif;
    text-align: center;
    font-size: 16pt;
}
#aboutText{
    font-size: 12pt;
}

#proPic{
    width: 15vw;
    height: auto;
    border-radius: 50%;
}

/*Resume Download*/
#resumeDownload{
    display: grid;
    grid-template-columns: auto auto auto;
    margin-bottom: 40px;
}

#resumeButton{
    margin-left: auto;
    margin-right: auto;
    grid-column-start: 2;
    grid-column-end: 3;
    background-color: #457B9D; /* Green */
    border:solid 1px black;
    color: white;
    padding: 10px 20px;
    max-height: 50px; 
    text-align: center;
    text-decoration: none;
    font-size: 20px;
    transition-duration: 0.2s;
    cursor: pointer;
}


/* Focuses on the Cards in Index*/
.cardContainer{
    /* grid-template-columns: auto auto auto; */
    width: 100%;
    min-width:50vw;
    height: 60vh;
    min-height: 65vh;
    max-height: 70vh;
    position: relative;
    animation: swipeIn 1s normal;
}
@keyframes swipeIn {
    0% {opacity: 35%; left: 0px; top:50px;}
    100% {opacity: 100%; left: 0px; top:0px;}
}

.cardInfo{
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
    position: absolute;
    top: 25%;
    left: 30%;
}

.infoTitle{
    font-family: 'Roboto Slab', 'Roboto', serif;
    font-size: 18pt;
    text-align: center;
    color: black;
}

.cardPic{
    position: relative;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    height: 50vh;
    width: 60vw;
    max-width: 100%;
    max-height: 100%;
    box-shadow: 0 0 10px rgba(0,0,0,.60);
    opacity: 0.3;
}

.indexThumbnail{
    width: 100%;
    height: 100%;
}

h2{
    margin: 0px;
    font-size: 12pt;
}

.cardDesc{
    font-size: 10pt;
}

.viewButton, .docButton{
    background-color: #457B9D;
    border:solid 1px black;
    color: white;
    padding: 10px 20px;
    margin: 10px;
    max-height: 50px;
    width: 15vw;
    height: 10vh; 
    text-align: center;
    text-decoration: none;
    font-size: 20px;
    transition-duration: 0.2s;
    cursor: pointer;
}
.viewButton:hover, .docButton:hover, #resumeButton:hover{
    background-color: #A8DADC;
    color: white;
    border: solid 2px #8BCA16;
}

.buttonDiv{
    margin: 5px;
}

#imageSelect{
    text-align: center;
    margin-top: -75px;
}
.thumbSelect{
    width: 20%;
    height: auto;
    box-shadow: 0 0 5px rgba(0,0,0,.60);
    transition: 1s;
    z-index: 1;
}
.thumbSelect:hover{
    width: 23%;
    transition: 1s;
}

/* Focuses on Updates in Documentation */
.updateHead{
    font-style: italic;
    color: black;
    margin: 5px;
}

.update{
    margin: 0px;
    padding-left: 15px;
    padding-right: 15px;
    font-style: italic;
}

/* Focuses on the Project Documentation */
#docIntro {
    margin: 15px;
}

/* Temp fix will need to be looked at later */
#projFix{
    margin: 20px;
}

#projSection {
    display: grid;
    grid-template-columns: auto auto;
    margin: 10px;
}

.thumbnail {
    text-align: center;
    max-height: 300px;
}

.projPic {
    width: 50%;
    height: 100%;
    max-height: 300px;
    box-shadow: 0 0 10px rgba(0,0,0,.20);
}

.projDesc{
    margin: 10px;
    font-size: 11pt;
}

/* Focuses on Sources Page */
#welSource{
    padding: 25px;
}

#sources{
    padding: 25px;
}

/* Focuses on Game HTML */
#gameTabs{
    min-height: calc(100% - 280px);
    margin: 0 20px 20px 20px;
}

.tabs{
    display: block;
    position: relative;
}

#tabDiv{
    margin: 15px;
}

#tabSelector{
    display: grid;
    grid-template-columns: auto auto auto auto;
}

.tabButtons{
    border: none;
    text-decoration: none;
    background-color: white;
    border-bottom: 4px solid;
    cursor: pointer;
    font-family: Verdana, Tahoma, sans-serif;
    font-size: 14pt;
}

/* GameTab */
#gameContent{
    display: grid;
    grid-template-columns: auto;
}

#gameFeedback{
    display: grid;
    grid-template-columns: auto;
    border: solid 2px black;
    margin: 10px;
}

#gameTextDiv{
    margin: auto;
    font-family: 'Playfair Display', serif;
    font-size: 20pt;
    text-align: center;
}

#gameText{
    margin: 20px;
}

#gameControls{
    display: grid;
    grid-template-columns: auto;
}

#guessSection{
    margin:10px;
}

#startButtonDiv, #guessSection, #guessButtonDiv{
    margin-left: auto;
    margin-right: auto;
}

#startButton, #guessButton{
    border:solid 1px black;
    color: white;
    padding: 5px 10px;
    max-height: 50px;
    width: 100%;
    height: 100%; 
    text-align: center;
    font-size: 15px;
    cursor: pointer;
}

#startButton{
    background-color: red;
    border-radius: 8px;
}

#guessButton{
    background-color: green;
    border-radius: 8px;
}

#overlay{
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 2;
    cursor: pointer;
    background-color: rgba(0,0,0, 0.8);
}

#festive{
    width: 100%;
    height: 100%;
}

#winText{
    color: rgb(255,255, 255);
    font-size: 18pt;
    text-align: center;
    text-shadow: 1px 1px black;
    padding: 15px;
    position: absolute;
    top: 40%;
    left: 40%;
    animation: pulse 1s infinite;
    animation-direction: alternate;
}
@keyframes pulse {
    from {opacity: 50%;}
    to {opacity: 100%; }
}

/* Store Tab */
#unlocked, #storeColors{
    padding: 10px;
}

.colorButton, .boughtColor{
    cursor: pointer;
    padding: 5px;
    margin: 5px;
    border-radius: 4px;
}

/* Stats Tab */

#statList{
    list-style: none;
    padding: 0;
}

#statList, li {
    margin: 5px;
}

/* Achievements Tab */
#achievements{
    display: grid;
    grid-template-columns: auto auto auto auto;
    text-align: center;
}

.achItem{
    margin-bottom: 10px;
}

.achBadge{
    width: 100px;
    height: 100px;
}

.achievementName{
    margin: 5px;
    font-size: 18pt;
}


/* Adjusts for smaller windows and phone screens */
@media screen and (max-width: 700px)
{
    /* Prevents swiping to side on phone */
    html {
        overflow-x: scroll;
        overflow-x: hidden;
        touch-action: none; 
        -ms-overflow-style: none;
        -ms-scroll-chaining: none; 
    }

    /* Focuses on the Header */
    h1{
        font-size: 18px;
        padding-bottom: 5px;
    }
    
    #header{
        grid-template-columns: none;
        grid-template-areas:
        'title title'
        'home blog';
        padding: 10px;
    }

    #homeLink, #blogLink, #name{
        margin-left: auto;
        margin-right: auto;
    }

    #homeLink{grid-area: home;}

    #blogLink{grid-area: blog;}
    
    #name{grid-area: title;}

    /* Focuses on the Cards in Index*/
    .cardSection{
        grid-template-columns: 8vw auto 8vw;
    }

    .cardContainer{
        grid-template-columns:none;
        grid-template-areas:
        'content'
        'info';
    }

    .cardPic{
        grid-area: content;
        width: 100%;
        height: 100%;
    }

    .cardInfo{grid-area: info;}

    .cardDesc{
        display: grid;
        grid-template-columns: auto auto auto;
    }

    .viewButton{
        padding: 10px;
    }

    .buttonDiv{
        margin: 10px;
    }

    /* Focuses on the Profile Intro */   
    #intro{
        display: flex;
        flex-direction: column;
        padding-right: 10vw;
        padding-left: 10vw;
    }

    .empty{
        padding: 0px;
    }

    #profile{
        text-align: center;
    }

    #proPic{
        max-width: 50%;
        height: auto;
        border-radius: 50%;
        margin-left: auto;
        margin-right: auto;
        grid-column-start: 1;
        grid-column-start: 2;
    }

    #about{
        display: flex;
        justify-content: center;
    }

    /* Focuses Project documentation */
    #projSection {
        grid-template-columns: auto;
    }

    /* Focuses on Game page */
    #tabDiv{
        margin: 10px;
    }

    .tabButtons{
        font-size: 10pt;
    }

    #gameText{
        font-size: 18pt;
    }

    #guessSection{
        text-align: center;
    }

    #winText{
        padding: 5px;
        position: absolute;
        font-size: 14pt;
        top: 40%;
        left: 30%;
        width: 20%;
        height: 25%;
    }

    /* Achievement Tab */
    #achievements{
        grid-template-columns: auto auto;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
    }
    
    .achItem{
        width: 100%;
        height: 100%;
        margin-bottom: 10px;
        margin-top: 10px;
    }
}